# Welcome to Jekyll!
#
# This config file is meant for settings that affect your entire site, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# `jekyll serve`. If you change this file, please restart the server process.

# Site Settings
title                    : "Guangyi Liu(刘广义)"
description              : "Zhejiang University"
repository               : "lgy0404/lgy0404.github.io"
google_scholar_stats_use_cdn : false  #true

# google analytics
google_analytics_id      :  # get google_analytics_id from https://analytics.google.com/analytics/

# SEO Related
google_site_verification :  # get google_site_verification from https://search.google.com/search-console/about
bing_site_verification   :  # get bing_site_verification from https://www.bing.com/webmasters/about
baidu_site_verification  :  # get baidu_site_verification from https://ziyuan.baidu.com/login/index?u=/site/index

# Site Author
author:
  name             : "Guangyi Liu"
  avatar           : "images/刘广义.png"
  bio              : "Postgraduate"
  location         : "Hangzhou, China"
  employer         : "https://blog.csdn.net/m0_49637401?type=blog"
  pubmed           : "https://blog.csdn.net/m0_49637401?type=blog"
  googlescholar    : "https://blog.csdn.net/m0_49637401?type=blog"
  email            : "guangyiliu@zju.edu.cn"
  researchgate     : "https://blog.csdn.net/m0_49637401?type=blog"
  uri              : "https://blog.csdn.net/m0_49637401?type=blog"
  bitbucket        : "https://blog.csdn.net/m0_49637401?type=blog"
  codepen          : "https://blog.csdn.net/m0_49637401?type=blog"
  dribbble         : "https://blog.csdn.net/m0_49637401?type=blog"
  flickr           : "https://blog.csdn.net/m0_49637401?type=blog"
  facebook         : "https://blog.csdn.net/m0_49637401?type=blog"
  foursquare       : "https://blog.csdn.net/m0_49637401?type=blog"
  github           : "lgy0404"
  google_plus      : "https://blog.csdn.net/m0_49637401?type=blog"
  keybase          : "https://blog.csdn.net/m0_49637401?type=blog"
  instagram        : "https://blog.csdn.net/m0_49637401?type=blog"
  impactstory      : "https://blog.csdn.net/m0_49637401?type=blog"
  lastfm           : "https://blog.csdn.net/m0_49637401?type=blog"
  linkedin         : "https://blog.csdn.net/m0_49637401?type=blog"
  dblp             : "https://blog.csdn.net/m0_49637401?type=blog"
  orcid            : "https://blog.csdn.net/m0_49637401?type=blog"
  pinterest        : "https://blog.csdn.net/m0_49637401?type=blog"
  soundcloud       : "https://blog.csdn.net/m0_49637401?type=blog"
  stackoverflow    : "https://blog.csdn.net/m0_49637401?type=blog"
  steam            : "https://blog.csdn.net/m0_49637401?type=blog"
  tumblr           : "https://blog.csdn.net/m0_49637401?type=blog"
  twitter          : "https://blog.csdn.net/m0_49637401?type=blog"
  vine             : "https://blog.csdn.net/m0_49637401?type=blog"
  weibo            : "https://blog.csdn.net/m0_49637401?type=blog"
  xing             : "https://blog.csdn.net/m0_49637401?type=blog"
  youtube          : "https://blog.csdn.net/m0_49637401?type=blog"
  wikipedia        : "https://blog.csdn.net/m0_49637401?type=blog"


# Reading Files
include:
  - .htaccess
  - _pages
  - files
exclude:
  - docs
  - google_scholar_crawler
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - .github
  - CHANGELOG
  - Capfile
  - Gemfile
  - Gruntfile.js
  - LICENSE
  - README
  - Rakefile
  - assets/js/_main.js
  - assets/js/plugins
  - assets/js/vendor
  - config
  - gulpfile.js
  - log
  - node_modules
  - package.json
  - tmp
  - vendor
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"


# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false


# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Defaults
defaults:
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: default
      author_profile: true


# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # http://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style


# Outputting
permalink: /:categories/:title/
timezone: Asia/Shanghai # http://en.wikipedia.org/wiki/List_of_tz_database_time_zones


# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-redirect-from
# mimic GitHub Pages with --safe
whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji


# HTML Compression
# - http://jch.penibelst.de/
compress_html:
  clippings: all
  ignore:
    envs: development
